{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Waste manage systems</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Clients</li>
              </ol>
          </nav>
        
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
              New Plan
          </a>
          <div class="btn-group ms-2 ms-lg-3">
              <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
          </div>
      </div>
  </div>
  
  
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>STATUS</th>
                
            </tr>
        </thead>
        <tbody>
            {% if clients %}
            {% for data in clients %}
            <tr>
                <td>{{data.username}}</td>
                <td>{{data.email}}</td>
                {% if data.status %}
                <td><span class="text-success">active</span></td>
                {% else %}
                <td><span class="text-danger">inactive</span></td>
                {% endif %}
                <td>
                    <a href="#" class="btn btn-success btn-xs"><i class="fa fa-eye"></i></a> &nbsp; &nbsp;
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr ><h6 class="test-danger">You DONT have any cients</h6></tr>
            {% endif %}
            
        </tbody>
    </table>
  </div>     

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}